version: '3.9'

services:
  tmcportal:
    container_name: tmcportal
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3003:3000" # Mapped to 3003 to avoid conflict with app-app
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
      - HOSTNAME=0.0.0.0
      - REDIS_URL=redis://redis:6379
    command: >
      sh -c "prisma migrate deploy && node server.js"
    volumes:
      - ./uploads:/app/public/uploads
    networks:
      - app_network
    depends_on:
      - redis
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:3000/api/health" ]
      interval: 30s
      timeout: 10s
      retries: 3

  worker:
    container_name: tmcportal_worker
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
      - REDIS_URL=redis://redis:6379
    command: npm run worker:email
    networks:
      - app_network
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: tmcportal_redis
    restart: always
    volumes:
      - redis_data:/data
    networks:
      - app_network

volumes:
  redis_data:


networks:
  app_network:
    external: true
    # If network doesn't exist, comment out 'external: true' and uncomment driver below:
    # driver: bridge
